.card {
	display         : flex;
	flex-direction  : column;
	position        : relative;
	background-color: var(--color-white);
	box-shadow      : 0px 2px 4px rgba(0, 0, 0, 0.06);
	border-radius   : 24px;
	overflow        : hidden;

	transition: {
		duration       : 0.2s;
		timing-function: ease;
	}

	&-content {
		display: flex;

		flex: {
			direction: column;
			grow     : 1;
		}
	}

	@media(hover) {
		&:hover {
			box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
		}

		&:hover &-arrow {
			transform: scale(1.4) translate(5px, -5px);
		}
	}
}