@mixin Width {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }

  &-max {
    width: max-content;
  }

  &-auto {
    width: auto !important;
  }
}

.w {
  @include AddMedia {
    @include Width;
  }

}