<a class="partners__card card radius-6 waved h-100 py-5 px-3 px-md-6" href="" target="_blank">
    <div class="card-content flex-align-center flex-justify-center">
        <div class="partners__pic pic pic pic--segment w-100">
            <img class="pic__img pic__img--sd" src="img/partners/partner-<%= partners[i].img %>.png" alt="">
        </div>
        <div class="d-none d-lg-block text-body-2 text-md-subtitle-1 text--center text--regular text--uppercase lh-1-5 mt-0 mt-lg-8"><%= partners[i].name %></div>
    </div>
</a>