<a class="card radius-6 h-100 waved p-2" href="">
    <div class="pic pic--rect-x radius-6 progress-container">
        <div class="progress progress-circle color-light-blue"></div>
        <img class="pic__img" src="img/photo-<%= news[i].img %>.jpg" alt="">
    </div>
    <div class="card-content p-4">
        <div class="text-body-2 text-md-body-1 fade-60 mb-2">24.10.22</div>
        <div class="text-body-1 text-md-subtitle-2 text--uppercase text--bold lh-1-5 mb-5">
            <%= news[i].text %>
        </div>
        <button class="btn btn--primary btn--link w-max mt-auto">
            More
            <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
                <use xlink:href="img/icons.svg#arrow-move" />
            </svg>
        </button>
    </div>
</a>