<section class="page-head flex flex-column flex-align-center flex-justify-center relative py-4">
    <div class="bg-block">
        <div class="pic pic--rect-x h-100">
            <img class="pic__img" src="img/page-head-bg.png" alt="">
        </div>
    </div>
    <div class="relative flex flex-column flex-grow flex-align-center flex-justify-center w-100 h-100">
        <div class="page-head__pagination flex flex-align-center gap-1 absolute color-white text-small-1 fade-40">
            <a class="link-hover" href="">Main page</a>>
            <span><%= data.title %></span>
        </div>
        <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase color-white mb-5 mb-md-10"><%= data.title %></div>
        <div class="flex flex-wrap flex-align-center flex-justify-center gap-6">
            <%= data.head %>
        </div>
    </div>
</section>