<% var data = {

  title: 'About the event',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="fish">
  <div class="relative radius-6 overflow-hidden">
    <div class="bg-block">
      <div class="pic pic--rect-x progress-container h-100">
        <div class="progress progress-circle color-light-blue"></div>
        <picture class="static">
          <source srcset="img/fish-min.jpg" media="(max-width: 679.98px)">
          <img class="pic__img" src="img/fish.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="fish__content relative color-white w-100 py-10 px-6">
      <div class="fish__title font-alt text-h6 text-md-h4 text--regular text-lg-h1 lh-1-5 mb-6 mb-md-8">
        <span class="text--bold text--uppercase">SEAFOOD EXPO RUSSIA</span> – Is a new event
        for communication between people involved
        in fishery business and spheres which
        are closely related to it
      </div>
      <div class="text-body-2 text-md-body-1 fade-60 lh-1-5">
        Aimed at bringing fresh thinking towards world fishery community the exhibition will unite fishery, aquaculture, processing, shipbuilding, logistic & packaging companies. The new show is based upon “business beyond politics principle”. Free from political and geographical borders the event is designed to unite the countries of Europe and Asia, Africa and Latin America within one place.
      </div>
    </div>
  </div>
</section>

<section class="map flex flex-align-center flex-justify-center bg-text relative">
  <div class="bg-block">
    <div class="pic pic--rect-x h-100">
      <img class="pic__img" src="img/map-blue.png" alt="">
    </div>
  </div>
  <div class="flex flex-align-center flex-justify-center relative color-white w-100">
    <div class="map__title text-h6 text-md-h4 text--uppercase text--bold">SEAFOOD EXPO</div>
    <div class="map__title flex flex-align-center text-h6 text-md-h4 text--uppercase text--bold">
      <div class="map__item relative">
        <div class="map__top absolute">E F F I C I</div>
        <div class="map__bottom absolute">N T</div>
        <div class="color-primary relative">E</div>
      </div>
    </div>
  </div>
</section>

<section class="expo overflow-hidden">
  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">GLOBAL FISHERY FORUM & SEAFOOD EXPO RUSSIA</div>
  <div class="text-body-2 text-md-body-1 text--bold text--center text--uppercase mb-5 mb-md-10">December 7-9, 2023, Istanbul, Tuyap</div>
  <div class="expo-slider slider">
    <div class="slider-swiper swiper grid-spacing-6 overflow-visible">
      <div class="swiper-wrapper">
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-1.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max mt-5 py-1 px-3 mb-2">equipment</div>
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-5 mb-md-10">farming technologies</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-5">Aquaculture</div>
              <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                Aquaculture is a driver for the development of the fishing industry. The growth rate of world production of aquaculture products exceeds the growth of world catches of wild fish, which allows to preserve the populations of aquatic biological resources of the seas and oceans and the sustainability of ecosystems.
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide flex flex-align-center relative bg-l3 radius-6 overflow-hidden h-100 duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-2.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max mt-5 py-1 px-3 mb-2">LEADING COMPANIES</div>
              <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-5 mb-md-10">BEST PROCESSING PRACTICIES</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-5">Catching and processing</div>
              <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                Catching and processing are key stages in the production of fish products. All industry processes are dependent on it or aimed at securing catching. Processing can significantly increase the value of the catch. For these reasons, the “catching and processing” section is the core of the event.
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide flex flex-align-center relative bg-text radius-6 overflow-hidden h-100 duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-3.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max mt-5 py-1 px-3 mb-2">SHIP YARD</div>
              <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-5 mb-md-10">ENGINEERING BUREAU</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-5">SHIPBUILDING <br class="d-none d-md-block"> AND SHIP REPAIR</div>
              <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                The development of shipbuilding and ship repair competencies of shipyards and design competencies of design bureaus is an important factor in ensuring the sustainable development of the world fishery complex.
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-4.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max mt-5 py-1 px-3 mb-2">Packaging</div>
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-5 mb-md-10">Refrigeration</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-5">Equipment & Components</div>
              <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                The equipment sector brings together domestic and foreign manufacturers of all types of equipment for the fishing industry: fishing gear, equipment for processing, packaging, cooling and freezing.
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide flex flex-align-center relative bg-l3 radius-6 h-100 overflow-hidden duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-5.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max mt-5 py-1 px-3 mb-2">TRADING</div>
              <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-5 mb-md-10">RETAIL</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-5">PRODUCT DISTRIBUTION</div>
              <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                Delivering fish and seafood to consumers is often more difficult than catching them. Traders play an important role in the delivery of catches to consumers. Thanks to them, fish, seafood and products of deep processing get on markets and shops.
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide flex flex-align-center relative bg-text radius-6 h-100 overflow-hidden duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-6.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max mt-5 py-1 px-3 mb-2">Canned products</div>
              <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-5 mb-md-10">Ready-to-cook</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-5">Deep Processed Products</div>
              <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                The development of the deep processing sector to obtain products with high added value is one of the priorities of the industry. This is important for ensuring food security and self-sufficiency for the main types of fish products, as well as for increasing export potential and increasing the efficiency of the fishery/
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
          <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
            <div class="bg-block">
              <div class="pic pic--rect-y h-100">
                <img class="pic__img" src="img/expo-7.png" alt="">
              </div>
            </div>
            <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max mt-5 py-1 px-3 mb-2">Cargo shipping</div>
              <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-5 mb-md-10">Storage</div>
              <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-5">LOGISTICS AND STORAGE</div>
              <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                Organization of a logistic chain using modern refrigeration and freezing technologies is an indispensable development of the industry and an increase in the consumption of fish and seafood. The section brings together all areas of logistic process.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-btn slider-prev btn btn--white btn--fill d-none d-md-flex radius-max p-0">
      <svg class="icon text-subtitle-2">
        <use xlink:href="img/icons.svg#to-left" />
      </svg>
    </button>
    <button class="slider-btn slider-next btn btn--white btn--fill d-none d-md-flex radius-max p-0">
      <svg class="icon text-subtitle-2">
        <use xlink:href="img/icons.svg#to-right" />
      </svg>
    </button>
    <div class="slider-pagination d-md-none d-flex flex-align-center flex-justify-center mt-5"></div>
  </div>
</section>

<script>
  new Swiper('.expo-slider .swiper', {
    slidesPerView: 'auto',
    watchSlidesProgress: true,
    grabCursor: true,
    navigation: {
      nextEl: '.expo-slider .slider-next',
      prevEl: '.expo-slider .slider-prev'
    },
    pagination: {
      el: '.expo-slider .slider-pagination',
      clickable: true
    }
  })
</script>

<section class="photos relative overflow-hidden">
  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">Photos from previous events</div>
  <div class="photos-slider">
    <div class="swiper grid-wrap grid-spacing-3 grid-spacing-md-6 overflow-visible">
      <div class="photos-wrapper swiper-wrapper">
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-1.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-1.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-2.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-2.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-3.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-3.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-4.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="photos-slider mt-3 mt-md-6">
    <div class="swiper grid-wrap grid-spacing-3 grid-spacing-md-6 overflow-visible" dir="rtl">
      <div class="photos-wrapper swiper-wrapper">
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-5.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-5.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-6.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-6.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-7.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-7.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
          <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-8.jpg" data-fancybox="photos">
            <img class="pic__img pic__img--rise" src="img/photo-8.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn--primary btn--fill mx-auto mt-5 mt-md-10">
    <span class="text-body-2 text-body-md-1 text--demibold">Seafood EXPO Russia’22 overview</span>
  </button>
</section>

<script>
  new Swiper('.photos-slider .swiper', {
    slidesPerView: 'auto',
    watchSlidesProgress: true,
    grabCursor: true,
    loop: true,
    speed: 20000,
    centeredSlides: true,
    freeMode: true,
    autoplay: {
      delay: 0,
      stopOnLastSlide: false,
      disableOnInteraction: false
    }
  })
</script>

<section class="news">
  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">NEWS</div>
  <div class="text-body-2 text-md-body-1 text--bold text--center text--uppercase mb-5 mb-md-10">LEARN MORE ABOUT OUR EVENT</div>
  <div class="grid grid-spacing-4 grid-spacing-lg-7">
    <div class="grid-col-lg-8">
      <a class="news__card card flex-align-center flex-row waved p-2 mb-4 mb-md-8" href="">
        <div class="news__pic pic pic--rect-x progress-container radius-6 mr-md-4 mr-lg-8">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img pic__img--rise" src="img/news-img-3.png" alt="">
        </div>
        <div class="news__content card-content w-100 p-4 p-md-0">
          <div class="text-body-1 fade-60 mb-2">24.10.22</div>
          <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">Fishery Exhibition in Qindao to be rescheduled</div>
          <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">The organizers of China biggest fishery exhibition China Fisheries & Seafood Expo...</div>
          <button class="btn btn--primary btn--link w-max">
            More
            <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
              <use xlink:href="img/icons.svg#arrow-move" />
            </svg>
          </button>
        </div>
      </a>
      <a class="news__card card flex-align-center flex-row waved p-2" href="">
        <div class="news__pic pic pic--rect-x progress-container radius-6 mr-md-4 mr-lg-8">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img pic__img--rise" src="img/news-img-2.png" alt="">
        </div>
        <div class="news__content card-content w-100 p-4 p-md-0">
          <div class="text-body-1 fade-60 mb-2">24.10.22</div>
          <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">VI Global Fishery Forum & Seafood Expo Russia 2023: Start of Sales</div>
          <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">Seafood Expo Russia 2023 opens booking for new participants and exhibitors who...</div>
          <button class="btn btn--primary btn--link w-max">
            More
            <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
              <use xlink:href="img/icons.svg#arrow-move" />
            </svg>
          </button>
        </div>
      </a>
    </div>
    <div class="grid-col-lg-4">
      <a class="news__card card bg-text radius-6 h-100 waved" href="">
        <div class="bg-block">
          <div class="pic pic--rect-x progress-container">
            <div class="progress progress-circle color-light-blue"></div>
            <img class="pic__img" src="img/news-img-3.png" alt="">
          </div>
        </div>
        <div class="news__gradient card-content relative color-white p-6 p-md-8">
          <div class="text-body-1 fade-60 mb-2 mt-auto">24.10.22</div>
          <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">Dates Set for VI Global Fishery Forum & Seafoo Expo Russia 2023</div>
          <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">The VI Global Fishery Forum & Seafood Expo will be held on 17–19 October 2023...</div>
          <button class="btn btn--primary btn--link w-max mb-lg-5">
            More
            <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
              <use xlink:href="img/icons.svg#arrow-move" />
            </svg>
        </div>
      </a>
    </div>
  </div>
  <button class="news__btn btn btn--primary btn--fill mt-5 mt-md-10 mx-auto">Load More</button>
</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>