<% var data = {

  title: 'Online media accreditation is closed',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block">

  <div class="text-md-body-0 text-md-subtitle-1 text--bold lh-1-5">
    Dear media representatives, the opening date of the registration for the Global Fishery Forum & Seafood Expo Russia will be announced later. Stay tuned for more updates on our website.
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>