<% var data = {

  title: 'Why exhibit?',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block overflow-hidden">

  <div class="forum pb-5 pb-md-10 mb-5 mb-md-10">
    <div class="grid grid-spacing-4 grid-spacing-md-7">
      <div class="grid-col-lg-6">
        <div class="bg-l3 shadow relative radius-6 overflow-hidden h-100 p-5 p-md-10">
          <div class="bg-block d-none d-lg-block">
            <div class="pic pic--rect-y h-100">
              <img class="pic__img" src="img/build-black.png" alt="">
            </div>
          </div>
          <div class="relative">
            <div class="font-alt text-subtitle-2 text-md-h2 text--bold text--uppercase lh-1-5 mb-5 mb-md-8">
              SEAFOOD EXPO RUSSIA – IS THE <br class="d-none d-lg-block">
              ONLY FISH & SEAFOOD <br class="d-none d-lg-block">
              PROCESSING EXHIBITION <br class="d-none d-lg-block">
              IN RUSSIA
            </div>
            <div class="text-body-2 text-md-body-1 lh-1-5 mb-5">
              SEAFOOD EXPO RUSSIA is the perfect platform to promote new products, equipment and services in Russia. The event connects thousands of businesses from around the world with Russia's industry buyers.
            </div>
            <div class="text-body-2 text-md-body-1 lh-1-5">
              Among participants are fishing companies, fish farms, fish processing companies, shipowners, cargo shipping enterprises, package equipment producers traders & retail representatives from Russia’s leading supermarket chains, wholesalers, HoReCa sector members.
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col-lg-6">
        <div class="grid grid-spacing-4 grid-spacing-md-7">
          <div class="grid-col-12">
            <div class="forum__block relative radius-6 color-white overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-x h-100">
                  <img class="pic__img" src="img/map.jpg" alt="">
                </div>
              </div>
              <div class="relative flex flex-column flex-grow text-body-1 text-md-subtitle-2 text--demibold lh-1-5 h-100 py-5 px-6 py-md-10">
                BROAD VISITORS’ GEOGRAPHY: <br>
                7120 SPECIALISTS FROM <br>
                78 RUSSIAN REGIONS <br>
                AND 55 COUNTRIES
              </div>
            </div>
          </div>
          <div class="grid-col-md-6">
            <div class="forum__item relative radius-6 bg-blue overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y progress-container h-100">
                  <div class="progress progress-circle color-light-blue"></div>
                  <img class="pic__img" src="img/forum.png" alt="">
                </div>
              </div>
              <div class="text-body-2 text-md-body-1 text--demibold text--uppercase color-white lh-1-5 relative p-6">
                ANNUAL PLACE OF MEETING <br>
                OF RUSSIAN FISHERY <br>
                INDUSTRY: 400 COMPANIES <br>
                FROM 40 RUSSIAN REGIONS <br>
                AND 25 COUNTRIES
              </div>
            </div>
          </div>
          <div class="grid-col-md-6">
            <div class="forum__item relative radius-6 bg-blue overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y progress-container h-100">
                  <div class="progress progress-circle color-light-blue"></div>
                  <img class="pic__img" src="img/lines.png" alt="">
                </div>
              </div>
              <div class="text-body-2 text-md-body-1 text--demibold text--uppercase color-white lh-1-5 relative p-6">
                PROFICIENT TARGET <br>
                AUDIENCE: 46% OF VISITORS <br>
                MAKE DECISIONS OR <br>
                INFLUENCE ON THEM
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">EXHIBITING IN SEAFOOD EXPO RUSSIA YOU CAN:</div>

  <% var advantages = [
    {
      number: '1',
      title: 'MEET THE WHOLE <br class="d-none d-md-block"> WORLD FOR 3 DAYS',
      text: 'New clients from all continents'
    },
    {
      number: '2',
      title: 'NEW CHALLENGES <br class="d-none d-md-block"> REQUIRENEW <br class="d-none d-md-block"> SOLUTIONS',
      text: 'Fresh thinking in current geopolitical context'
    },
    {
      number: '3',
      title: 'BUSINESS ORIENTED',
      text: 'Aimed to meet the interest of fishery companies'
    },
    {
      number: '4',
      title: 'UP TO DATE',
      text: 'Perfect time to make plans for the future'
    },
  ] %>
  <div class="advantages mb-5 mb-md-10 p-5 p-mb-10">
    <div class="grid grid-spacing-4 grid-spacing-md-7">
      <% for (var i = 0; i < advantages.length; i++) { %>
        <div class="grid-col-lg-3">
          <div class="advantages__item advantages__item--<%= advantages[i].number %> color-white radius-6 h-100 p-1">
            <div class="advantages__border border flex flex-column flex-grow radius-6 h-100  pb-md-5 px-5">
              <div class="advantages__number font-alt mr-3 mr-md-0"><%= advantages[i].number %></div>
              <div class="">
                <div class="text-body-2 text-md-subtitle-1 text--uppercase lh-1-5 mb-1 mb-md-3">
                  <%= advantages[i].title %>
                </div>
                <div class="text-body-2 text-md-body-1 lh-1-5">
                  <%= advantages[i].text %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <% var progress = [
    {
      text: 'CATCH & PROCESSING',
      number: '27.6'
    },
    {
      text: 'AQUACULTURE',
      number: '15.23'
    },
    {
      text: 'RETAIL',
      number: '11.52'
    },
    {
      text: 'SHIPBUILDING AND SHIP REPAIR',
      number: '9.47'
    },
    {
      text: 'SHIP EQUIPMENT',
      number: '8.62'
    },
    {
      text: 'TRADERS',
      number: '7.04'
    },
    {
      text: 'PROCESSING EQUIPMENT',
      number: '4.36'
    },
    {
      text: 'REFRIGERATION AND FREEZING',
      number: '4.27'
    },
    {
      text: 'HORECA',
      number: '3.98'
    },
    {
      text: 'PACKIGING',
      number: '3.88'
    },
    {
      text: 'LOGISTICS AND STORAGE',
      number: '2.68'
    },
    {
      text: 'PORTS',
      number: '1.35'
    },
  ] %>

  <div class="visitors -visitors-">
    <div class="grid grid-spacing-10">
      <div class="grid-col-12 grid-col-lg-7">
        <div class="visitors__title font-alt text-h6 text-md-h4 text-lg-h1 text--bold lh-1-5 text--uppercase mb-5 mb-md-10 p-mb-10">VISITORS’ INTERESTS BASED ON SECTORS:</div>
        <div class="flex flex-column gap-8">
          <% for (var i = 0; i < progress.length; i++) { %>
            <div class="visitors__item flex flex-align-center flex-justify-end gap-4 gap-lg-8">
              <div class="text-body-1 text-md-body-0 lh-1-5 text--uppercase"><%= progress[i].text %></div>
              <div class="flex flex-align-center gap-4 gap-lg-8">
                <div class="visitors__number text-body-0 text-md-subtitle-2 text--bold text--uppercase">
                  <span class="-number-" data-number="<%= progress[i].number %>">0</span>%
                </div>
                <div class="visitors__progress relative overflow-hidden">
                  <div class="visitors__line bg-primary absolute h-100 -progress-line-" data-percent="<%= progress[i].number %>"></div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="grid-col-12 grid-col-lg-5">
        <div class="visitors__block w-100 ml-auto">
          <div class="visitors__title font-alt text-h6 text-md-h4 text-lg-h1 text--bold lh-1-5 text--uppercase mb-5 mb-md-10 p-mb-10">VISITORS’ AIMS:</div>
          <canvas class="visitors__chard mb-10" id="chart-visitors"></canvas>
          <ul class="chard-list flex flex-column gap-4">
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--blue mr-2"></span>
              SEARCH FOR NEW PRODUCTS OR SERVICES FOR BUSINESS
            </li>
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--dark-blue mr-2"></span>
              OBTAINING COMMON INFORMATION ABOUT PRODUCTS AND SERVICES
            </li>
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--light-blue mr-2"></span>
              VISITING BUSINESS PROGRAM
            </li>
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--purple mr-2"></span>
              PROMOTION OF OWN PRODUCTS AND SERVICES
            </li>
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--yellow mr-2"></span>
              PERSONAL INTERESTS
            </li>
            <li class="flex flex-align-center text-small-1 text--uppercase lh-1-5">
              <span class="chard-list__circle chard-list__circle--grey mr-2"></span>
              EDUCATIONAL PURPOSES
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% var reviews = [
    {
      title: 'Mufty NSK LLC',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'We were pleasantly surprised by this exhibition, because we got a lot of contacts which are necessary for our development. We had many interesting initiations and meetings.'
    },
    {
      title: 'The Union of Independent Networks of Russia',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'Petersburgers took our pavilion into a tight ring, in a few minutes they bought up salmon, flounder, milt, hearts of salmon fish species, canned fish, including the famous seaweed from the coast of the Tatar Strait of the Pacific Ocean.'
    },
    {
      title: 'Lenin Fishing Collective Farm',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'This is not the first time we have participated in exhibitions of this kind. The forum is quite interesting. Here you can find something interesting for yourself in terms of production, processing of products, take a look at our colleagues, who in the same way produce, process products, and sell them. We got a lot of contacts of those who are interested in the supply of products to the central part of the Russian Federation.'
    },
    {
      title: 'Mufty NSK LLC',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'We were pleasantly surprised by this exhibition, because we got a lot of contacts which are necessary for our development. We had many interesting initiations and meetings.'
    },
    {
      title: 'The Union of Independent Networks of Russia',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'Petersburgers took our pavilion into a tight ring, in a few minutes they bought up salmon, flounder, milt, hearts of salmon fish species, canned fish, including the famous seaweed from the coast of the Tatar Strait of the Pacific Ocean.'
    },
    {
      title: 'Lenin Fishing Collective Farm',
      subtitle: 'Andrey Zabuga, General Director',
      text: 'This is not the first time we have participated in exhibitions of this kind. The forum is quite interesting. Here you can find something interesting for yourself in terms of production, processing of products, take a look at our colleagues, who in the same way produce, process products, and sell them. We got a lot of contacts of those who are interested in the supply of products to the central part of the Russian Federation.'
    }
  ] %>

  <div class="reviews-slider slider">
    <div class="slider-swiper swiper grid-wrap grid-spacing-3 grid-spacing-md-6">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < reviews.length; i++) { %>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto">
            <div class="reviews-slide card radius-6 waved h-100 pt-5 px-5 pb-10 px-lg-10">
              <div class="card-content">
                <svg class="icon text-body-1 text-lg-subtitle-1 mb-3 mb-md-5">
                  <use xlink:href="img/icons.svg#quote" />
                </svg>
                <div class="text-body-1 text-md-subtitle-1 text--uppercase text--demibold lh-1-5 mb-2">
                  <%= reviews[i].title %>
                </div>
                <div class="text-body-2 text-md-body-1 lh-1-5 fade-60 mb-3 mb-md-6">
                  <%= reviews[i].subtitle %>
                </div>
                <div class="text-body-2 text-md-body-1 lh-1-5">
                  <%= reviews[i].text %>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <button class="slider-btn slider-prev btn btn--white btn--fill d-none d-md-flex radius-max p-0">
      <svg class="icon text-subtitle-2">
        <use xlink:href="img/icons.svg#to-left" />
      </svg>
    </button>
    <button class="slider-btn slider-next btn btn--white btn--fill d-none d-md-flex radius-max p-0">
      <svg class="icon text-subtitle-2">
        <use xlink:href="img/icons.svg#to-right" />
      </svg>
    </button>
    <div class="slider-pagination flex flex-align-center flex-justify-center mt-5 mt-md-10"></div>
  </div>

  <script>
    new Swiper('.reviews-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      grabCursor: true,
      navigation: {
        nextEl: '.reviews-slider .slider-next',
        prevEl: '.reviews-slider .slider-prev'
      },
      pagination: {
        el: '.reviews-slider .slider-pagination',
        clickable: true
      }
    })
  </script>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>