<% var data = {

  title: 'Advertising opportunites',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block">

  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--uppercase lh-1-5 mb-5 mb-md-8">
    SEAFOOD EXPO RUSSIA – <span class="font-alt text--regular">IS THE ONLY FISH & SEAFOOD PROCESSING EXHIBITION IN RUSSIA</span>
  </div>

  <div class="text-body-1 lh-1-5 fade-80 mb-5 mb-md-10">
    Every year more than 10 000 specialists visit the event. Among them are business owners, CEO and top managers of fish and fish processing companies, leading equipment producers, ship owners, representatives of HoReCa sector, trade houses and chains etc. To make the maximum use of the exhibition potential and improve its effectiveness we advise you to look through Marketing Manual.
  </div>

  <div class="grid grid-spacing-4 grid-spacing-lg-7 mb-5 mb-md-10">
    <div class="grid-col-md-6 grid-col-lg-4">
      <a class="pic pic--rect-x radius-6 progress-container" href="img/advertising-1.jpg" data-fancybox>
        <div class="progress progress-circle color-light-blue"></div>
        <img class="pic__img pic__img--rise" src="img/advertising-1.jpg" alt="">
      </a>
    </div>
    <div class="grid-col-md-6 grid-col-lg-4">
      <a class="pic pic--rect-x radius-6 progress-container" href="img/advertising-2.jpg" data-fancybox>
        <div class="progress progress-circle color-light-blue"></div>
        <img class="pic__img pic__img--rise" src="img/advertising-2.jpg" alt="">
      </a>
    </div>
    <div class="grid-col-md-6 grid-col-lg-4">
      <a class="pic pic--rect-x radius-6 progress-container" href="img/advertising-3.jpg" data-fancybox>
        <div class="progress progress-circle color-light-blue"></div>
        <img class="pic__img pic__img--rise" src="img/advertising-3.jpg" alt="">
      </a>
    </div>
  </div>

  <%= _.template(require('./html-includes/download.html').default)({text: 'Catalogue of advertising opportunities'}) %>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>