<% var data = {

  title: 'Seafood Expo Eurasia',
  status: true

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

  <section class="started flex flex-align-center flex-justify-center relative">
    <div class="bg-block">
      <div class="pic pic--rect-x h-100">
        <img class="pic__img" src="img/started-bg.png" alt="">
      </div>
    </div>
    <div class="flex flex-column flex-align-center flex-justify-center relative color-white">
      <img class="started__logo mb-5 mb-md-9 w-100" src="img/logo-started.png" alt="">
      <div class="font-alt text-subtitle-1 text-md-h4 text-lg-h1 text--center text--uppercase mb-5">
        VI GLOBAL FISHERY FORUM & SEAFOOD EXPO RUSSIA <br class="d-none d-lg-block">
        18-20 OCTOBER 2023
      </div>
      <div class="text-body-2 text-md-body-1 text--center text--uppercase text--bold mb-0 mb-md-8">SAINT PETERSBURG, EXPOFORUM EC</div>
      <div class="flex flex-wrap flex-align-center flex-justify-center gap-4 gap-md-8 mt-8">
        <button class="started__btn btn btn--primary btn--fill">Book a stand</button>
        <button class="started__btn btn btn--white btn--contur">
          <span class="started__tg flex flex-align-center flex-justify-center bg-dark-blue radius-max mr-2">
            <svg class="icon text-small-2">
              <use xlink:href="img/icons.svg#tg" />
            </svg>
          </span>
          Join us in Telegram
        </button>
      </div>
    </div>
  </section>

  <section class="forum">
    <div class="grid grid-spacing-4 grid-spacing-md-7">
      <div class="grid-col-lg-6">
        <div class="bg-l3 shadow radius-6 h-100 p-5 p-md-10">
          <div class="font-alt text-subtitle-2 text-md-h2 text--bold text--uppercase lh-1-5 mb-5 mb-md-8">
            Global Fishery Forum <br class="d-none d-lg-block">
            and Seafood Expo Russia <br class="d-none d-lg-block">
            is the main event of Russian <br class="d-none d-lg-block">
            fishery industry
          </div>
          <div class="text-body-2 text-md-body-1 lh-1-5 mb-5 mb-md-8">
            The event connects thousands of businesses from around the world with Russia’s key fishery, aquaculture, processing, shipbuilding, logistic & packaging companies. Exhibition visitors are business owners and top-managers who make decisions from fishery and fish processing companies, fish farms, import and trading enterprises, trade houses, retail chains and HoReCa.Exhibition visitors are business owners and top-managers who make decisions from:
          </div>
          <ul class="text-ul">
            <li class="text-ul-item text-body-2 text-md-body-1">fishery and fish processing companies</li>
            <li class="text-ul-item text-body-2 text-md-body-1">fish farms</li>
            <li class="text-ul-item text-body-2 text-md-body-1">import and trading enterprises</li>
            <li class="text-ul-item text-body-2 text-md-body-1">trade houses</li>
            <li class="text-ul-item text-body-2 text-md-body-1">retail chains</li>
            <li class="text-ul-item text-body-2 text-md-body-1">HoReCa</li>
          </ul>
        </div>
      </div>
      <div class="grid-col-lg-6">
        <div class="grid grid-spacing-4 grid-spacing-md-7">
          <div class="grid-col-12">
            <div class="forum__video relative radius-6 color-white overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-x h-100">
                  <img class="pic__img" src="img/forum-video.jpg" alt="">
                </div>
              </div>
              <div class="forum__content relative flex flex-column flex-grow h-100 p-5 p-md-10">
                <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase lh-1-5">
                  Watch a <span class="color-primary">video</span> <br>
                  about our event
                </div>
                <a class="forum__play btn btn--primary btn--white-bg radius-max mt-auto" href="" data-fancybox>
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#play" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-col-6">
            <div class="forum__item relative radius-6 bg-text overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/forum-build.png" alt="">
                </div>
              </div>
              <div class="text-body-2 text-md-subtitle-1 text--uppercase lh-1-5 color-light-blue relative py-5 px-3 py-md-10 px-md-7">
                perfect platform <br class="d-none d-md-block">
                to promote <br class="d-none d-md-block">
                new products
              </div>
            </div>
          </div>
          <div class="grid-col-6">
            <div class="forum__item relative radius-6 bg-blue overflow-hidden h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y progress-container h-100">
                  <div class="progress progress-circle color-light-blue"></div>
                  <img class="pic__img" src="img/forum-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="expo overflow-hidden pt-0">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">GLOBAL FISHERY FORUM & SEAFOOD EXPO RUSSIA</div>
    <div class="text-body-2 text-md-body-1 text--bold text--center text--uppercase mb-5 mb-md-10">OCTOBER, 18-20, 2023, SAINT PETERSBURG</div>
    <div class="expo-slider slider">
      <div class="expo-swiper swiper grid-spacing-6 overflow-visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-1.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">56 exhibitors</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">special platform</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">Aquaculture</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  Aquaculture is a driver for the development of the fishing industry. The growth rate of world production of aquaculture...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative bg-l3 radius-6 overflow-hidden h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-2.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">107 COMPANIES</div>
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">the largest platform</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-3 mt-auto">Catching and processing</div>
                <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                  Catching and processing are key stages in the production of fish products. All industry processes are dependent on it or aimed at...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative bg-text radius-6 overflow-hidden h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-3.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-2">64 COMPANIES</div>
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-3">SHIP SYSTEMS</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">SHIPBUILDING AND SHIP REPAIR</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  A significant part of the Seafood Expo Russia exposition is devoted to shipbuilding and ship repair. The section unites shipy...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-4.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">91 exhibitors</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">IT- SOLUTIONS</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">Equipment & Components</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  The Equipment section is widely represented at Seafood Expo Russia. It brings together domestic and foreign...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative bg-l3 radius-6 h-100 overflow-hidden duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-5.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">48 COMPANIES</div>
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">750 rounds of negotiations</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-3 mt-auto">PRODUCT DISTRIBUTION</div>
                <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                  Delivering fish and seafood to consumers is often more difficult than catching them. Traders play an important role in the deliv...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative bg-text radius-6 h-100 overflow-hidden duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-6.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-2">Priority industry</div>
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-3">Marine novelties</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">final products</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  The development of the deep processing sector to obtain products with high added value is one of the priorities of the industry...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide expo-slide--blue flex flex-align-center relative radius-6 overflow-hidden h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-7.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">52 companies</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">railway logistics</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">LOGISTICS AND STORAGE</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  Organization of a logistic chain using modern refrigeration and freezing technologies is an indispensable...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="expo__btn slider-btn slider-prev btn btn--white btn--fill d-none d-md-flex radius-max shadow p-0">
        <svg class="icon text-subtitle-2">
          <use xlink:href="img/icons.svg#to-left" />
        </svg>
      </button>
      <button class="expo__btn slider-btn slider-next btn btn--white btn--fill d-none d-md-flex radius-max shadow p-0">
        <svg class="icon text-subtitle-2">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
      <div class="expo-pagination d-md-none d-flex flex-align-center flex-justify-center mt-5"></div>
    </div>
  </section>

  <script>
    new Swiper('.expo-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      grabCursor: true,
      navigation: {
        nextEl: '.expo-slider .slider-next',
        prevEl: '.expo-slider .slider-prev'
      },
      pagination: {
        el: '.expo-slider .expo-pagination',
        clickable: true
      }
    })
  </script>

  <section class="water-block relative color-white">
    <div class="bg-block d-none d-md-block">
      <div class="pic pic--rect-y h-100">
        <img class="pic__img" src="img/water.png" alt="">
      </div>
    </div>
    <div class="relative">
      <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">The leading industry events in Russia</div>
      <div class="text-body-2 text-md-body-1 text--bold text--center text--uppercase mb-5 mb-md-10">MEETINGS. CONTRACTS. BUSINESS.</div>
      <div class="grid grid-spacing-6">
        <div class="grid-col-md-6 grid-col-lg-3">
          <div class="water-block__item flex flex-column radius-6 shadow h-100 py-5 px-3 py-md-10 px-md-8">
            <svg class="water-block__icon icon mr-5 mr-md-0">
              <use xlink:href="img/icons.svg#square" />
            </svg>
            <div class="water-block__content">
              <div class="text-body-2 text-md-body-1 text--uppercase text--bold mb-2 mb-lg-6">VENUE</div>
              <div class="water-block__text color-light-blue text--bold mb-3">26 000 м<sup>2</sup></div>
              <div class="water-block__info text-body-2 text-md-body-1">of exhibition space</div>
            </div>
          </div>
        </div>
        <div class="grid-col-md-6 grid-col-lg-3">
          <div class="water-block__item flex flex-column radius-6 shadow h-100 py-5 px-3 py-md-10 px-md-8">
            <svg class="water-block__icon icon mr-5 mr-md-0">
              <use xlink:href="img/icons.svg#world" />
            </svg>
            <div class="water-block__content">
              <div class="text-body-2 text-md-body-1 text--uppercase text--bold mb-2 mb-lg-6">PARTICIPANTS</div>
              <div class="water-block__text color-light-blue text--bold mb-3">12 469</div>
              <div class="water-block__info text-body-2 text-md-body-1">
                specialists from 70 countries <br class="d-none d-md-block">
                of the worldand 82 regions <br class="d-none d-md-block">
                of Russia
              </div>
            </div>
          </div>
        </div>
        <div class="grid-col-md-6 grid-col-lg-3">
          <div class="water-block__item flex flex-column radius-6 shadow h-100 py-5 px-3 py-md-10 px-md-8">
            <svg class="water-block__icon icon mr-5 mr-md-0">
              <use xlink:href="img/icons.svg#case" />
            </svg>
            <div class="water-block__content">
              <div class="text-body-2 text-md-body-1 text--uppercase text--bold mb-2 mb-lg-6">EXHIBITORS</div>
              <div class="water-block__text color-light-blue text--bold mb-3">400</div>
              <div class="water-block__info text-body-2 text-md-body-1">companies from 34 regions of Russiaand 14 countries</div>
            </div>
          </div>
        </div>
        <div class="grid-col-md-6 grid-col-lg-3">
          <div class="water-block__item flex flex-column radius-6 shadow h-100 py-5 px-3 py-md-10 px-md-8">
            <svg class="water-block__icon icon mr-5 mr-md-0">
              <use xlink:href="img/icons.svg#conference" />
            </svg>
            <div class="water-block__content">
              <div class="text-body-2 text-md-body-1 text--uppercase text--bold mb-2 mb-lg-6">PROGRAM</div>
              <div class="water-block__text color-light-blue text--bold mb-3">35</div>
              <div class="water-block__info text-body-2 text-md-body-1">events with 139 speakers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="photos relative overflow-hidden">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">Photos from previous events</div>
    <div class="photos-slider">
      <div class="swiper grid-wrap grid-spacing-3 grid-spacing-md-6 overflow-visible">
        <div class="photos-wrapper swiper-wrapper">
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-1.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-2.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-3.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-4.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="photos-slider mt-3 mt-md-6">
      <div class="swiper grid-wrap grid-spacing-3 grid-spacing-md-6 overflow-visible" dir="rtl">
        <div class="photos-wrapper swiper-wrapper">
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-5.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-5.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-6.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-6.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-7.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-7.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide grid-col-8 grid-col-md-6 h-auto">
            <a class="photos__pic pic pic--rect-x radius-6 waved" href="img/photo-8.jpg" data-fancybox="photos">
              <img class="pic__img pic__img--rise" src="img/photo-8.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn--primary btn--fill mx-auto mt-5 mt-md-10">
      <span class="text-body-2 text-body-md-1 text--demibold">Seafood EXPO Russia’22 overview</span>
    </button>
  </section>

  <script>
    new Swiper('.photos-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      grabCursor: true,
      loop: true,
      speed: 20000,
      centeredSlides: true,
      freeMode: true,
      autoplay: {
        delay: 0,
        stopOnLastSlide: false,
        disableOnInteraction: false
      }
    })
  </script>

  <section class="news pt-0">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">NEWS</div>
    <div class="text-body-2 text-md-body-1 text--bold text--center text--uppercase mb-5 mb-md-10">LEARN MORE ABOUT OUR EVENT</div>
    <div class="grid grid-spacing-4 grid-spacing-lg-7">
      <div class="grid-col-lg-8">
        <a class="news__card card flex-align-center flex-row waved p-2 mb-4 mb-md-8" href="">
          <div class="news__pic pic pic--rect-x progress-container radius-6 mr-md-4 mr-lg-8">
            <div class="progress progress-circle color-light-blue"></div>
            <img class="pic__img pic__img--rise" src="img/news-img-1.png" alt="">
          </div>
          <div class="news__content card-content w-100 p-4 p-md-0">
            <div class="text-body-1 fade-60 mb-2">24.10.22</div>
            <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">Fishery Exhibition in Qindao to be rescheduled</div>
            <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">The organizers of China biggest fishery exhibition China Fisheries & Seafood Expo...</div>
            <button class="btn btn--primary btn--link w-max">
              More
              <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
                <use xlink:href="img/icons.svg#arrow-move" />
              </svg>
            </button>
          </div>
        </a>
        <a class="news__card card flex-align-center flex-row waved p-2" href="">
          <div class="news__pic pic pic--rect-x progress-container radius-6 mr-md-4 mr-lg-8">
            <div class="progress progress-circle color-light-blue"></div>
            <img class="pic__img pic__img--rise" src="img/news-img-2.png" alt="">
          </div>
          <div class="news__content card-content w-100 p-4 p-md-0">
            <div class="text-body-1 fade-60 mb-2">24.10.22</div>
            <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">VI Global Fishery Forum & Seafood Expo Russia 2023: Start of Sales</div>
            <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">Seafood Expo Russia 2023 opens booking for new participants and exhibitors who...</div>
            <button class="btn btn--primary btn--link w-max">
              More
              <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
                <use xlink:href="img/icons.svg#arrow-move" />
              </svg>
            </button>
          </div>
        </a>
      </div>
      <div class="grid-col-lg-4">
        <a class="news__card card radius-6 h-100 waved" href="">
          <div class="bg-block">
            <div class="pic pic--rect-y progress-container h-100">
              <div class="progress progress-circle color-light-blue"></div>
              <img class="pic__img" src="img/news-img-3.png" alt="">
            </div>
          </div>
          <div class="news__gradient card-content relative color-white p-6 p-md-8">
            <div class="text-body-1 fade-60 mb-2 mt-auto">24.10.22</div>
            <div class="text-body-1 text-lg-subtitle-1 text--bold text--uppercase lh-1-5 mb-2">Dates Set for VI Global Fishery Forum & Seafoo Expo Russia 2023</div>
            <div class="text-body-2 text-lg-body-1 lh-1-5 fade-60 mb-3 mb-lg-6">The VI Global Fishery Forum & Seafood Expo will be held on 17–19 October 2023...</div>
            <button class="btn btn--primary btn--link w-max">
              More
              <svg class="card-arrow icon text-subtitle-2 ml-1 ease duration-3">
                <use xlink:href="img/icons.svg#arrow-move" />
              </svg>
          </div>
        </a>
      </div>
    </div>
    <button class="news__btn btn btn--primary btn--fill mt-5 mt-md-10 mx-auto">Load More</button>
  </section>

  <% var partners = [
    {
      img: '1',
      name: 'GENERAL PARTNER'
    },
    {
      img: '2',
      name: 'OFFICIAL PARTNER'
    },
    {
      img: '3',
      name: 'PARTNER BANK'
    },
    {
      img: '4',
      name: 'STRATEGIC PARTNER'
    },
    {
      img: '5',
      name: 'BUSINESS PARTNER'
    },
    {
      img: '6',
      name: 'PARTNER'
    },
    {
      img: '7',
      name: 'REGISTRATION AREA PARTNER'
    },
    {
      img: '8',
      name: 'BUSINESS PROGRAMME PARTNER'
    },
    {
      img: '9',
      name: 'TRANSFER PARTNER'
    }
  ] %>

  <section class="partners pt-0">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">EVENT PARTNERS</div>
    <div class="grid grid-spacing-3 grid-spacing-md-7">
      <% for (var i = 0; i < partners.length; i++) { %>
        <div class="grid-col-6 grid-col-lg-4">
          <%= _.template(require('./html-includes/card-partner.html').default)({partners, i}) %>
        </div>
      <% } %>
    </div>
  </section>

  <% var partners = [
    {
      img: '10',
      name: 'GENERAL MEDIA PARTNER'
    },
    {
      img: '11',
      name: 'OFFICIAL MEDIA PARTNER'
    },
    {
      img: '12',
      name: 'GENERAL INDUSTRY MEDIA PARTNER'
    },
    {
      img: '13',
      name: 'OFFICIAL INDUSTRY MEDIA PARTNER'
    },
    {
      img: '14',
      name: 'STRATEGIC INDUSTRY MEDIA PARTNER'
    },
    {
      img: '15',
      name: 'RETAIL CENTER GENERAL PARTNER'
    },
    {
      img: '16',
      name: 'MULTIMEDIA PARTNER'
    }
  ] %>

  <section class="partners pt-0">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">MEDIA PARTNERS</div>
    <div class="grid grid-spacing-3 grid-spacing-md-7">
      <% for (var i = 0; i < partners.length; i++) { %>
        <div class="grid-col-6 grid-col-lg-3">
          <%= _.template(require('./html-includes/card-partner.html').default)({partners, i}) %>
        </div>
      <% } %>
    </div>
  </section>

<section class="partners pt-0">
  <div class="grid grid-spacing-3 grid-spacing-md-7">
    <% for (var i = 0; i < 12; i++) { %>
      <div class="grid-col-6 grid-col-lg-3">
        <%= _.template(require('./html-includes/card-partner-min.html').default)({i}) %>
      </div>
    <% } %>
  </div>
  <button class="partners__btn btn btn--primary btn--fill mt-5 mt-md-10 mx-auto">Load More</button>
</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>