<% var data = {

  title: 'Seafood Expo Eurasia',
  status: true

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

  <section class="started flex flex-align-center flex-justify-center relative">
    <div class="bg-block">
      <div class="pic pic--rect-x h-100">
        <img class="pic__img" src="img/started-bg.png" alt="">
      </div>
    </div>
    <div class="flex flex-column flex-align-center flex-justify-center relative color-white">
      <img class="started__logo mb-5 mb-md-9 w-100" src="img/logo-started.png" alt="">
      <div class="font-alt text-subtitle-1 text-md-h4 text-lg-h1 text--center text--uppercase mb-5">
        VI GLOBAL FISHERY FORUM & SEAFOOD EXPO RUSSIA <br class="d-none d-lg-block">
        18-20 OCTOBER 2023
      </div>
      <div class="text-body-2 text-md-body-1 text--center text--uppercase text--bold mb-0 mb-md-8">SAINT PETERSBURG, EXPOFORUM EC</div>
      <div class="flex flex-wrap flex-align-center flex-justify-center gap-4 gap-md-8 mt-8">
        <button class="started__btn btn btn--primary btn--fill">Book a stand</button>
        <button class="started__btn btn btn--white btn--contur">
          <span class="started__tg flex flex-align-center flex-justify-center bg-dark-blue radius-max mr-2">
            <svg class="icon text-small-2">
              <use xlink:href="img/icons.svg#tg" />
            </svg>
          </span>
          Join us in Telegram
        </button>
      </div>
    </div>
  </section>

  <section class="forum">
    <div class="grid grid-spacing-4 grid-spacing-md-7">
      <div class="grid-col-lg-6">
        <div class="bg-l3 shadow radius-6 h-100 p-5 p-md-10">
          <div class="font-alt text-subtitle-2 text-md-h2 text--bold text--uppercase lh-1-5 mb-5 mb-md-8">
            Global Fishery Forum <br class="d-none d-lg-block">
            and Seafood Expo Russia <br class="d-none d-lg-block">
            is the main event of Russian <br class="d-none d-lg-block">
            fishery industry
          </div>
          <div class="text-body-2 text-md-body-1 lh-1-5 mb-5 mb-md-8">
            The event connects thousands of businesses from around the world with Russia’s key fishery, aquaculture, processing, shipbuilding, logistic & packaging companies. Exhibition visitors are business owners and top-managers who make decisions from fishery and fish processing companies, fish farms, import and trading enterprises, trade houses, retail chains and HoReCa.Exhibition visitors are business owners and top-managers who make decisions from:
          </div>
          <ul class="text-ul">
            <li class="text-ul-item text-body-2 text-md-body-1">fishery and fish processing companies</li>
            <li class="text-ul-item text-body-2 text-md-body-1">fish farms</li>
            <li class="text-ul-item text-body-2 text-md-body-1">import and trading enterprises</li>
            <li class="text-ul-item text-body-2 text-md-body-1">trade houses</li>
            <li class="text-ul-item text-body-2 text-md-body-1">retail chains</li>
            <li class="text-ul-item text-body-2 text-md-body-1">HoReCa</li>
          </ul>
        </div>
      </div>
      <div class="grid-col-lg-6">
        <div class="grid grid-spacing-4 grid-spacing-md-7">
          <div class="grid-col-12">
            <div class="forum__video relative radius-6 color-white h-100">
              <div class="bg-block">
                <div class="pic pic--rect-x h-100">
                  <img class="pic__img" src="img/forum-video.jpg" alt="">
                </div>
              </div>
              <div class="forum__content relative flex flex-column flex-grow h-100 p-5 p-md-10">
                <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase lh-1-5">
                  Watch a <span class="color-primary">video</span> <br>
                  about our event
                </div>
                <a class="forum__play btn btn--primary btn--white-bg radius-max mt-auto" href="" data-fancybox>
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#play" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-col-6">
            <div class="forum__item relative radius-6 bg-text h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/forum-build.png" alt="">
                </div>
              </div>
              <div class="text-body-2 text-md-subtitle-1 text--uppercase lh-1-5 color-light-blue relative py-5 px-3 py-md-10 px-md-7">
                perfect platform <br class="d-none d-md-block">
                to promote <br class="d-none d-md-block">
                new products
              </div>
            </div>
          </div>
          <div class="grid-col-6">
            <div class="forum__item relative radius-6 bg-blue h-100">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/forum-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="expo">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-4">GLOBAL FISHERY FORUM & SEAFOOD EXPO RUSSIA</div>
    <div class="expo__subtitle text-body-2 text-md-body-1 text--bold text--center text--uppercase">OCTOBER, 18-20, 2023, SAINT PETERSBURG</div>
    <div class="expo-slider slider">
      <div class="expo-swiper swiper grid-wrap grid-spacing-6">
        <div class="swiper-wrapper">
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-1.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">56 exhibitors</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">special platform</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">Aquaculture</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  Aquaculture is a driver for the development of the fishing industry. The growth rate of world production of aquaculture...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-2.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">107 COMPANIES</div>
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">the largest platform</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-3 mt-auto">Catching and processing</div>
                <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                  Catching and processing are key stages in the production of fish products. All industry processes are dependent on it or aimed at...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-3.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-2">64 COMPANIES</div>
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-3">SHIP SYSTEMS</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">SHIPBUILDING AND SHIP REPAIR</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  A significant part of the Seafood Expo Russia exposition is devoted to shipbuilding and ship repair. The section unites shipy...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-4.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">91 exhibitors</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">IT- SOLUTIONS</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">Equipment & Components</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  The Equipment section is widely represented at Seafood Expo Russia. It brings together domestic and foreign...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-5.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">48 COMPANIES</div>
                <div class="expo__shildik expo__shildik--orange text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">750 rounds of negotiations</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-text mb-3 mt-auto">PRODUCT DISTRIBUTION</div>
                <div class="text-body-2 text-md-body-1 color-text lh-1-5 fade-60">
                  Delivering fish and seafood to consumers is often more difficult than catching them. Traders play an important role in the deliv...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-6.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-2">Priority industry</div>
                <div class="expo__shildik expo__shildik--white text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-text w-max py-1 px-3 mb-3">Marine novelties</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">final products</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  The development of the deep processing sector to obtain products with high added value is one of the priorities of the industry...
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto mt-0">
            <div class="expo-slide flex flex-align-center relative radius-6 h-100 duration-3">
              <div class="bg-block">
                <div class="pic pic--rect-y h-100">
                  <img class="pic__img" src="img/expo-7.png" alt="">
                </div>
              </div>
              <div class="relative flex flex-column h-100 py-5 py-md-10 px-5 px-md-7">
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-2">52 companies</div>
                <div class="expo__shildik expo__shildik--blue text-small-1 text-md-body-2 text--uppercase text--demibold radius-6 color-white w-max py-1 px-3 mb-3">railway logistics</div>
                <div class="text-body-1 text-md-subtitle-1 text--bold text--uppercase color-white mb-3 mt-auto">LOGISTICS AND STORAGE</div>
                <div class="text-body-2 text-md-body-1 color-white lh-1-5 fade-60">
                  Organization of a logistic chain using modern refrigeration and freezing technologies is an indispensable...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="expo__btn slider-btn slider-prev btn btn--white btn--fill radius-max shadow p-0">
        <svg class="icon text-subtitle-2">
          <use xlink:href="img/icons.svg#to-left" />
        </svg>
      </button>
      <button class="expo__btn slider-btn slider-next btn btn--white btn--fill radius-max shadow p-0">
        <svg class="icon text-subtitle-2">
          <use xlink:href="img/icons.svg#to-right" />
        </svg>
      </button>
    </div>
  </section>

  <script>
    new Swiper('.expo-slider .swiper', {
      slidesPerView: 'auto',
      watchSlidesProgress: true,
      grabCursor: true,
      navigation: {
        nextEl: '.expo-slider .slider-next',
        prevEl: '.expo-slider .slider-prev'
      }
    })
  </script>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>