<% var data = {

  title: 'Media partners',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block overflow-hidden">

  <div class="partners mb-10">
    <div class="grid grid-spacing-5 grid-spacing-lg-10">
      <div class="grid-col-12 grid-col-lg-6">
        <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase mb-6">BECOME OUR INFO-PARTNER</div>
        <div class="text-body-2 text-md-body-1 lh-1-5 mb-5">
          Exhibition team is open to cooperation with specific printed and online media and events with similar topics.
        </div>
        <div class="text-body-2 text-md-body-1 lh-1-5 mb-8">
          Terms of cooperation are discussed individually with each partner. If you want to support the exhibition, please send your proposal to the exhibition brand-manager Yana Frolova y.frolova@rusfishexpo.com
        </div>
        <button class="btn btn--primary btn--fill px-10">Accreditation Rules</button>
      </div>
      <div class="grid-col-12 grid-col-lg-6">
        <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase mb-6">REFERENCE POLICY</div>
        <div class="text-body-2 text-md-body-1 lh-1-5">
          Any information from this website can be copied with the reference to the source only. Any changes, adding extra information or misrepresentation are prohibited. Learn more about quoting rules in Russian Federal Law N 149 from 27.07.2006 clause 3 article 7 (reduction from 18.03.2019).
        </div>
      </div>
    </div>
  </div>
  
  <% var partners = [
    {
      img: '10',
      name: 'GENERAL MEDIA PARTNER'
    },
    {
      img: '11',
      name: 'OFFICIAL MEDIA PARTNER'
    },
    {
      img: '12',
      name: 'GENERAL INDUSTRY MEDIA PARTNER'
    },
    {
      img: '13',
      name: 'OFFICIAL INDUSTRY MEDIA PARTNER'
    },
    {
      img: '14',
      name: 'STRATEGIC INDUSTRY MEDIA PARTNER'
    },
    {
      img: '15',
      name: 'RETAIL CENTER GENERAL PARTNER'
    },
    {
      img: '16',
      name: 'MULTIMEDIA PARTNER'
    }
  ] %>
  
  <div class="partners pb-5 mb-5 pb-md-10 mb-md-10">
    <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--center text--uppercase mb-5 mb-md-10">MEDIA PARTNERS</div>
    <div class="grid grid-spacing-3 grid-spacing-md-7">
      <% for (var i = 0; i < partners.length; i++) { %>
        <div class="grid-col-6 grid-col-lg-3">
          <%= _.template(require('./html-includes/card-partner.html').default)({partners, i}) %>
        </div>
      <% } %>
    </div>
  </div>
  
  <div class="partners">
    <div class="grid grid-spacing-3 grid-spacing-md-7">
      <% for (var i = 0; i < 12; i++) { %>
        <div class="grid-col-6 grid-col-lg-3">
          <%= _.template(require('./html-includes/card-partner-min.html').default)({i}) %>
        </div>
      <% } %>
    </div>
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>