<% var data = {

  title: 'News',
  head: '<button class="page-head__btn btn btn--primary btn--fill mt-5 mt-md-10">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block overflow-hidden">

  <div class="news-nav relative z-1 mb-5 mb-md-10 pb-md-10">
    <div class="grid grid-spacing-6">
      <div class="grid-col-lg-7">
        <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase mb-5 mb-md-8">POPULAR TOPICS:</div>
        <div class="news-nav__btns flex flex-align-center flex-wrap gap-2 p-4 p-md-0">
          <button class="news-nav__btn btn btn--text btn--contur btn--white-bg text-body-2 text--regular fade-40 px-4">#ForeignEvents</button>
          <button class="news-nav__btn btn btn--primary btn--fill text-body-2 text--regular px-4">
            #Aquaculture
            <svg class="icon ml-2">
              <use xlink:href="img/icons.svg#close" />
            </svg>
          </button>
          <button class="news-nav__btn btn btn--text btn--contur btn--white-bg text-body-2 text--regular fade-40 px-4">#ExhibitorsNews</button>
          <button class="news-nav__btn btn btn--text btn--contur btn--white-bg text-body-2 text--regular fade-40 px-4">#Catching</button>
          <button class="news-nav__btn btn btn--text btn--contur btn--white-bg text-body-2 text--regular fade-40 px-4">#Processing</button>
        </div>
      </div>
      <div class="grid-col-lg-5">
        <div class="text-body-0 text-md-subtitle-1 text--bold text--uppercase mb-5 mb-md-8">SEARCH BY TOPICS:</div>
        <div class="news-search relative -search-">
          <div class="form-input-cover">
            <input class="news-search__input form-input -search-input-" type="text" value="#ExhibitorsNews #Catching #ForeightEvents">
            <div class="news-search__btns flex flex-align-center absolute h-100 z-1 pr-5 duration-3">
              <button class="btn btn--text btn--link mr-md-6 -search-close-">
                <svg class="icon">
                  <use xlink:href="img/icons.svg#close" />
                </svg>
              </button>
              <svg class="news-search__arrow icon d-none d-md-block duration-3 ease">
                <use xlink:href="img/icons.svg#to-right" />
              </svg>
            </div>
          </div>
          <div class="news-search__content overflow-auto absolute radius-2 shadow bg-l3 w-100 p-6 ease duration-3">
            <div class="news-search__items flex flex-column">
              <div class="text-body-1 text-md-subtitle-2 text--bold fade-40 mb-5">About Event</div>
              <div class="flex flex-column gap-3 mb-6">
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Exhibitors2022</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Important</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Business Programm</div>
								</label>
              </div>
              <div class="text-body-1 text-md-subtitle-2 text--bold fade-40 mb-5">Exhibition Sectors</div>
              <div class="flex flex-column gap-3">
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Aquaculture</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Catching</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Processing</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Shipbuilding & Shop Repair</div>
								</label>
                <label class="form-field form-checkbox">
									<input type="checkbox" class="form-input-checkbox">
									<div class="form-checkbox-target">
										<svg class="icon">
											<use xlink:href="./img/icons.svg#gal-ochka"></use>
										</svg>
									</div>
									<div class="text-body-1 ml-2">Shipbuilding</div>
								</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-empty flex flex-column flex-align-center flex-justify-center bg-l3 radius-5 py-10 px-5">
    <img class="news-empty__img w-100 mb-10" src="img/news-empty.png" alt="">
    <div class="text-subtitle-2 text-md-h4 text-lg-h1 text--center lh-1-5">
      There is no news with the hashtag you’ve selected, <br class="d-none d-lg-block">
      please choose another one.
    </div>
  </div>

  <div class="news-empty flex flex-column flex-align-center flex-justify-center">
    <img class="news-empty__img w-100 mb-10" src="img/news-plug.png" alt="">
    <div class="text-subtitle-2 text-md-h4 text-lg-h1 text--center lh-1-5">Please select another language</div>
  </div>

</section>



<%= _.template(require('./html-includes/footer.html').default)({data}) %>