<% var data = {

  title: 'Exhibition plan',
  head: '<div class="flex flex-wrap flex-align-center flex-justify-center gap-6"><button class="page-head__btn btn btn--primary btn--fill">Book a stand</button><button class="page-head__btn btn btn--white btn--contur">Online Registration</button></div>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block overflow-hidden">

  <div class="plan bg-l3 shadow radius-6 pt-4 px-4 pb-4 pb-md-10">
    <a class="d-block w-100 mb-5 mb-md-10" href="img/plan.png" data-fancybox>
      <img class="w-100" src="img/plan.png" alt="">
    </a>
    <div class="flex flex-wrap flex-align-center flex-justify-center gap-4 gap-md-8">
      <button class="plan__btn btn btn--primary btn--fill px-4">Download Exhbition Floorplan</button>
      <button class="plan__btn btn btn--primary btn--contur color-text px-4">List of Exhibitors 2022</button>
    </div>
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>