<% var data = {

  title: 'Product selectors',
  status: true

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block">
  <div class="grid grid-spacing-4 grid-spacing-lg-7">
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-1.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">AQUACULTURE</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Farming</li>
            <li class="text-ul-item text-body-1">Feeds and Additives</li>
            <li class="text-ul-item text-body-1">Fish Seed</li>
            <li class="text-ul-item text-body-1">Veterinary Medicine</li>
            <li class="text-ul-item text-body-1">Aquaculture Equipment</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-2.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">CATCHING AND PROCESSING</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Catching</li>
            <li class="text-ul-item text-body-1">Processing</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-3.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">SHIPBUILDING AND SHIP REPAIR</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Shipyard</li>
            <li class="text-ul-item text-body-1">Ship Repair</li>
            <li class="text-ul-item text-body-1">Ship Systems</li>
            <li class="text-ul-item text-body-1">Ship Equipment and Components</li>
            <li class="text-ul-item text-body-1">Engineering Bureau</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-4.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">EQUIPMENT & COMPONENTS</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Processing Equipment</li>
            <li class="text-ul-item text-body-1">Refrigeration and Freezing</li>
            <li class="text-ul-item text-body-1">Packaging</li>
            <li class="text-ul-item text-body-1">Fishing Gear</li>
            <li class="text-ul-item text-body-1">Workwear</li>
            <li class="text-ul-item text-body-1">IT- solutions</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-5.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">PRODUCT DISTRIBUTION</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Traiding</li>
            <li class="text-ul-item text-body-1">HoReCa</li>
            <li class="text-ul-item text-body-1">Retail</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-6.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">FINAL PRODUCTS</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Canned food and preserves</li>
            <li class="text-ul-item text-body-1">Dried products</li>
            <li class="text-ul-item text-body-1">Caviar</li>
            <li class="text-ul-item text-body-1">Food supplements and additives</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-md-6 grid-col-lg-4">
      <div class="card radius-6 waved h-100">
        <div class="pic pic--rect-x progress-container">
          <div class="progress progress-circle color-light-blue"></div>
          <img class="pic__img" src="img/products/product-7.jpg" alt="">
        </div>
        <div class="card-content pt-6 pb-6 px-6 pb-md-10 px-md-10">
          <div class="text-subtitle-1 text--bold text--uppercase mb-4">LOGISTICS AND STORAGE</div>
          <ul class="text-ul fade-60">
            <li class="text-ul-item text-body-1">Ports</li>
            <li class="text-ul-item text-body-1">Warehouse Storage</li>
            <li class="text-ul-item text-body-1">Cargo Shipping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>