<% var data = {

  title: 'Venue',
  head: '<button class="page-head__btn btn btn--primary btn--fill">Book a stand</button>'

} %>

<%= _.template(require('./html-includes/header.html').default)({data}) %>

<%= _.template(require('./html-includes/page-head.html').default)({data}) %>

<section class="page-block">

  <div class="venue-card card flex-align-center flex-row gap-3 gap-md-10 p-4 p-md-6 mb-5 mb-md-10">
    <div class="venue-card__pic pic pic--segment radius-4 progress-container w-100">
      <div class="progress progress-circle color-light-blue"></div>
      <img class="pic__img pic__img--rise" src="img/venue-build.jpg" alt="">
    </div>
    <div class="card-content p-3">
      <div class="text-body-0 text-md-subtitle-1 text--uppercase text--bold mb-4">Expoforum, pavilions G and H</div>
      <div class="text-body-2 text-md-body-1 mb-6">St.Petersburg, Peterburgskoye sh. 64/1</div>
      <div class="text-body-1 text-md-subtitle-2 text--bold mb-6">Opening hours for visitors:</div>
      <div class="venue-card__items flex flex-align-center pb-3 mb-3">
        <div class="text-body-2 text-md-body-1 fade-60 w-50 mr-3">September 21</div>
        <div class="text-body-2 text-md-body-1 w-50">10:00 - 18:00</div>
      </div>
      <div class="venue-card__items flex flex-align-center pb-3 mb-3">
        <div class="text-body-2 text-md-body-1 fade-60 w-50 mr-3">September 22</div>
        <div class="text-body-2 text-md-body-1 w-50">10:00 - 18:00</div>
      </div>
      <div class="venue-card__items flex flex-align-center pb-3">
        <div class="text-body-2 text-md-body-1 fade-60 w-50 mr-3">September 23</div>
        <div class="text-body-2 text-md-body-1 w-50">10:00 - 16:00</div>
      </div>
    </div>
  </div>

  <div class="text-body-2 text-md-body-1 lh-1-5 mb-5 mb-md-10">
    <b>EXPOFORUM</b> - is a new convention-and-exhibition centre in St. Petersburg. It is the most cutting-edge venue of its kind anywhere in Russia – or Europe – for holding business and entertainment events of any size and format.
  </div>

  <div class="font-alt text-h6 text-md-h4 text-lg-h1 text--bold text--uppercase mb-5">Expoforum includes:</div>

  <ul class="flex flex-column gap-4 mb-5 mb-md-10">
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="text-body-2 text-md-body-1">three exhibition pavilions</span>
    </li>
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="text-body-2 text-md-body-1">convention centre with a total holding capacity of 10,000 people</span>
    </li>
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="text-body-2 text-md-body-1">St. Petersburg’s first HILTON hotels</span>
    </li>
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="ttext-body-2 text-md-body-1">business centre</span>
    </li>
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="text-body-2 text-md-body-1">customs-and-logistics complex</span>
    </li>
    <li class="flex flex-align-center">
      <span class="color-primary text--bold mr-2">✓</span>
      <span class="text-body-2 text-md-body-1">cafes, restaurants and other such infrastructural amenities</span>
    </li>
  </ul>

  <div class="venue card flex-align-center flex-justify-between flex-row gap-3 radius-6 py-5 py-md-10 pl-4 pl-md-8">
    <div class="card-content relative font-alt text-body-0 text-md-subtitle-1 text--bold z-1 lh-1-5 pl-lg-8 pr-4 pr-md-8 pr-lg-0">
      During exhibition and and forum days free buses service <br class="d-none d-lg-block">
      will be organized from city center to the venue. The shedule <br class="d-none d-lg-block">
      will be availiable closer to the event.
    </div>
    <img class="venue__img relative z-1 w-100" src="img/bus.png" alt="">
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)({data}) %>