@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}

	--bg1: #EFF0F3;
	--bg2: #F7F7F8;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-alt: 'Futura PT',
	Arial,
	Helvetica,
	sans-serif;
	--font-base: 'Inter',
	Arial,
	Helvetica,
	sans-serif;

	@for $i from 0 to 10 {
		--z-#{$i}: #{calc(100 * $i)};
	}
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;

	& .expo-slide.bg-text .color-white {
		color: var(--bg3);
	}

	& .slider-swiper,
	& .photos {

		&::before,
		&::after {
			display: none;
		}
	}

	& .mobile {
		background-color: var(--bg3);

		&__head {
			background-color: var(--bg2);
		}
	}

	& .we-are__block {
		background-color: var(--bg3);
	}
}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg2);
	color           : var(--color-text);

	* {
		font-family: var(--font-base);
	}
}

.header {
	top             : 0;
	left            : 0;
	right           : 0;
	background-color: var(--color-white-60);
	backdrop-filter : blur(4px);
	transform       : translateY(var(--top));

	&__logo {
		width: 150px;
	}

	@media(max-width: $lg) {
		&__logo {
			width: 100px;
		}
	}
}

.nav {
	&__list {
		left      : 0;
		top       : 70px;
		visibility: hidden;
	}

	@media(hover) {
		&__item:hover &__list {
			opacity   : 1;
			visibility: visible;
			top       : 25px;
		}
	}
}

.language {
	&__items {
		width: 150px;
		top  : 45px;
		right: 0;
	}
}

.mobile {
	top             : 0;
	left            : 0;
	bottom          : 0;
	right           : 0;
	max-width       : 375px;
	background-color: var(--color-white-90);
	backdrop-filter : blur(4px);
	box-shadow      : 0 0 0 100vw var(--color-black-50);

	&__logo {
		width: 90px;
	}

	&:not(&--show) {
		transform : translateX(-100%);
		opacity   : 0;
		visibility: hidden;
	}

	&:not(&--show) &__head {
		transform: translateY(-80px);
	}

	&:not(&--show) &__nav {
		transform: translateX(-220px);
		opacity  : 0;
	}

	&:not(&--show) &__footer {
		transform: translateY(30px);
		opacity  : 0;
	}

	&__accordion:is([data-accordion="active"]) &__arrow {
		transform: rotate(90deg);
	}

	&--show {
		transform : translateX(0);
		opacity   : 1;
		visibility: visible;
	}

	&--show &__head {
		transform: translateY(0);
	}

	&--show &__nav {
		transform: translateX(0);
		opacity  : 1;
	}

	&--show &__footer {
		transform: translateY(0);
		opacity  : 1;
	}

	&__head {
		background-image: linear-gradient(84.54deg, #044375 15.54%, rgba(52, 56, 151, 0) 44.46%);
	}

	&__accordion.toggle-active &__arrow {
		transform: rotate(180deg);
	}
}

.social {
	&__link {
		min-width: 46px;
		width    : 46px;
		height   : 46px;
	}
}

.subscription {
	background: #272A3E linear-gradient(269.69deg, rgba(2, 67, 143, 0.8) 0%, rgba(2, 67, 143, 0) 50.27%);

	&__form {
		max-width: 550px;
	}

	&__input {
		max-width: 420px;
	}

	&__btn {
		width: 210px;
	}

	@media(max-width: $lg) {
		& {
			flex-direction: column;
		}

		&__form {
			max-width: 100%;
		}

		&__input {
			max-width: 100%;
		}
	}

	@media(max-width: $md) {
		&__form {
			flex-direction: column;
		}

		&__input {
			max-width: 360px;
		}
	}
}

.footer {
	background: linear-gradient(240.03deg, rgba(0, 0, 0, 0) 31.71%, rgba(0, 0, 0, 0.5) 83.17%), #0065A5;

	padding: {
		top   : 45px;
		bottom: 45px;
	}

	&__logo {
		width: 255px;
	}

	&__pic {
		width: 100px;
	}

	@media(max-width: $md) {
		& {
			padding: {
				top   : 30px;
				bottom: 30px;
			}
		}

		&__logo {
			width: 180px;
		}

		&__pic {
			width: 70px;
		}
	}
}

.cookies {
	bottom: 0;
	left  : 0;
	right : 0;

	&-fihes {
		min-width: 615px;
	}

	@media(max-width: $lg) {
		&-fihes {
			bottom: -70px;
			right : -100px;
		}
	}

	@media(max-width: $md) {
		&-fihes {
			min-width: 440px;
			bottom   : -60px;
			right    : -170px;
		}
	}
}

.page-head {
	min-height: 325px;

	&__pagination {
		top : 0;
		left: 0;
	}

	&__btn {
		width: 205px;
	}
}

.slider {
	&-swiper {

		&::before,
		&::after {
			content       : '';
			position      : absolute;
			top           : 0;
			bottom        : 0;
			width         : 420px;
			height        : 100%;
			z-index       : var(--z-1);
			pointer-events: none;
		}

		&::before {
			left      : -420px;
			background: linear-gradient(-90deg, rgba(247, 247, 248, 0) 0%, #F7F7F8 100%);
		}

		&::after {
			right     : -420px;
			background: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, #F7F7F8 100%);
		}

	}

	&-btn {
		color     : #000;
		width     : 60px;
		height    : 60px;
		box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.16);

		&.slider-prev {
			left: -30px;
		}

		&.slider-next {
			left : auto;
			right: -30px;
		}
	}

	&-pagination {
		& .swiper-pagination-bullet {
			width           : 12px;
			height          : 12px;
			border-radius   : 50%;
			background-color: var(--color-primary-40);
			margin          : 0 10px;

			&.swiper-pagination-bullet-active {
				background-color: var(--color-primary);
			}
		}
	}

	@media(min-width: 2000px) {
		&-swiper {
			overflow: hidden;

			&::before,
			&::after {
				display: none;
			}
		}

	}

	@media(max-width: $md) {
		&-swiper {

			&::before,
			&::after {
				display: none;
			}
		}
	}
}

.started {
	min-height: 780px;

	&__logo {
		max-width: 320px;
	}

	&__btn {
		width: 235px;
	}

	&__tg {
		min-width: 20px;
		width    : 20px;
		height   : 20px;
	}

	@media(max-width: $md) {
		& {
			min-height: 600px;
		}

		&__logo {
			max-width: 200px;
		}
	}
}

.forum {
	&__block {
		height: 350px;
	}

	&__item {
		height: 300px;
	}

	&__content {
		background-image: linear-gradient(108.89deg, #004275 30.7%, rgba(1, 109, 170, 0.31) 100%);
	}

	&__play {
		width    : 94px;
		height   : 94px;
		font-size: 60px;
	}

	&__btn {
		width: 200px;
	}

	@media(max-width: $md) {
		&__block {
			height: 280px;
		}

		&__item {
			height: 200px;
		}

		&__btns {
			justify-content: center;
		}
	}
}

.expo {
	&-slide {
		&--blue {
			background-color: #0066A2;
		}
	}

	&__shildik {
		&--blue {
			background-color: #00436A;
		}

		&--orange {
			background-color: var(--color-primary);
		}

		&--white {
			background-color: var(--bg3);
		}
	}

	@media(hover) {
		&-slide:hover {
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		}
	}
}

.water-block {
	background: linear-gradient(254.79deg, rgba(0, 0, 0, 0) 39.31%, rgba(0, 0, 0, 0.4) 100%), #005B95;

	&__item {
		background     : linear-gradient(107.73deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 57.04%);
		backdrop-filter: blur(6px);
	}

	&__icon {
		font-size    : 86px;
		margin-bottom: 78px;
	}

	&__text {
		font-size: 42px;
	}

	&__info {
		line-height: 1.3;
		font-weight: 300;
	}

	@media(max-width: $lg) {
		&__icon {
			font-size    : 60px;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 22px;
		}
	}

	@media(max-width: $md) {
		&__item {
			flex-direction: row;
		}

		&__icon {
			font-size    : 40px;
			margin-bottom: 0;
		}
	}
}

.photos {

	&::before,
	&::after {
		content       : '';
		position      : absolute;
		top           : 0;
		bottom        : 0;
		width         : 315px;
		height        : 100%;
		z-index       : var(--z-1);
		pointer-events: none;
	}

	&::before {
		left      : 0;
		background: linear-gradient(-90deg, rgba(247, 247, 248, 0) 0%, #F7F7F8 100%);
	}

	&::after {
		right     : 0;
		background: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, #F7F7F8 100%);
	}

	&-wrapper {
		transition-timing-function: linear !important;
	}

	&__pic {
		height: 330px;
	}

	@media(max-width: $lg) {

		&::before,
		&::after {
			width: 150px;
		}

		&__pic {
			height: 250px;
		}
	}

	@media(max-width: $md) {

		&::before,
		&::after {
			display: none;
		}

		&__pic {
			height: 200px;
		}
	}
}

.news {
	&__pic {
		min-width: 360px;
	}

	&__content {
		max-width: 335px;
	}

	&__shadow {
		position: relative;
		height  : 48px;
		overflow: hidden;

		&::after {
			content       : "";
			pointer-events: none;
			position      : absolute;
			inset         : 0;
			width         : 100%;
			height        : 100%;
		}

		&--white::after {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--bg3) 100%);
		}

		&--dark::after {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #20162C 100%);
		}
	}

	&__gradient {
		background: linear-gradient(180deg, rgba(32, 22, 44, 0) 34.86%, #20162C 48.38%);
	}

	&__btn {
		width: 235px;
	}

	&-nav {
		&__btn {
			border-radius: 100px;
		}
	}

	&-search {
		&__btns {
			right : 0;
			top   : 0;
			bottom: 0;
		}

		&__input {
			padding-right: 80px;
		}

		&__content {
			top       : 90px;
			height    : 370px;
			opacity   : 0;
			visibility: hidden;
		}

		&--open &__arrow {
			transform: rotate(-90deg);
		}

		&--open &__content {
			top       : 60px;
			opacity   : 1;
			visibility: visible;
		}
	}

	&-empty {
		&__img {
			max-width: 250px;
		}
	}

	@media(hover) {
		&__card:hover &__image {
			transform: scale(1.1);
		}
	}

	@media(min-width: $lg) {
		&-empty {
			padding: 60px 40px;
		}
	}

	@media(max-width: $lg) {
		&__gradient {
			background: linear-gradient(180deg, rgba(32, 22, 44, 0) 34.86%, #20162C 63.38%);
			height    : 500px;
		}

		&__pic {
			min-width: 280px;
		}

		&__content {
			max-width: 100%;
		}

		&__shadow {
			height: 42px;
		}
	}

	@media(max-width: $md) {
		&__card {
			flex-direction: column;
			align-items   : flex-start;
		}

		&__pic {
			width    : 100%;
			min-width: auto;
		}

		&-nav {
			&__btns {
				flex-wrap: nowrap;
				overflow : auto;
				margin   : -16px;
			}
		}

		&-search {
			&__input {
				padding-right: 40px;
			}
		}

		&-empty {
			&__img {
				max-width: 200px;
			}
		}
	}
}

.partners {
	&__card {
		min-height: 300px;
	}

	&__btn {
		width: 235px;
	}

	@media(max-width: $lg) {
		&__card {
			min-height: 150px;
		}
	}
}

.banner {
	background: #20162C linear-gradient(269.69deg, rgba(2, 67, 143, 0.9) 0%, rgba(2, 67, 143, 0) 50.27%);

	&__img {
		max-width: 94px;
	}

	@media(max-width: $md) {
		& {
			flex-direction: column;
			text-align    : center;
		}
	}
}

.venue {
	&::after {
		content         : '';
		width           : 420px;
		height          : 420px;
		border-radius   : 50%;
		background-color: var(--color-dark-blue);
		position        : absolute;
		top             : -100px;
		right           : -100px;

	}

	&__img {
		max-width: 500px;
	}

	&-card {
		&__pic {
			max-width: 600px;
			height   : 340px;
		}

		&__items {
			border-bottom: {
				width: 1px;
				style: dashed;
				color: var(--color-gray);
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	@media(max-width: $lg) {
		& {
			flex-direction: column;
			align-items   : flex-end;

			&::after {
				background-color: var(--color-dark-blue-10);
				right           : auto;
				left            : -50px;
				top             : -50px;
				width           : 200px;
				height          : 200px;
			}
		}

		&-card {
			flex-direction: column;
			align-items   : flex-start;

			&__pic {
				max-width: 100%;
			}
		}
	}

	@media(max-width: $md) {
		&-card {
			&__pic {
				height: 200px;
			}
		}
	}
}

.contacts {
	&-card {
		&__img {
			width: 150px;
		}

		&__icon {
			min-width       : 40px;
			width           : 40px;
			height          : 40px;
			background-color: #8199B5;
		}
	}

	&-personal {
		margin-bottom: 60px;

		&:last-child {
			margin-bottom: 0;
		}

		&__pic {
			min-width: 130px;
			width    : 130px;
		}

		&__icon {
			min-width       : 24px;
			width           : 24px;
			height          : 24px;
			background-color: #8199B5;
		}
	}

	@media(max-width: $md) {
		&-card {
			flex-direction: column;

			&__icon {
				min-width: 30px;
				width    : 30px;
				height   : 30px;
			}
		}

		&-personal {
			margin-bottom: 40px;

			&__card {
				border-radius: 8px;
			}

			&__pic {
				min-width: 80px;
				width    : 80px;
			}
		}
	}
}

.plan {
	&__btn {
		width: 280px;
	}
}

.banner-tg {
	&::before {
		padding-top: 12%;
	}

	@media(max-width: $md) {
		&::before {
			padding-top: 35%;
		}

		& .pic__img {
			object-position: 75%;
		}
	}
}

.download {
	background: #D85054 linear-gradient(270deg, rgba(0, 166, 255, 0.7) 0%, rgba(0, 166, 255, 0) 60.24%);

	&__icon {
		font-size: 52px;
	}

	&__btn {
		min-width: max-content;
	}

	@media(max-width: $md) {
		& {
			flex-direction: column;
		}

		&__icon {
			font-size: 40px;
		}
	}
}

.accordion {
	&__text {
		&--2 {
			display: none;
		}
	}

	&.toggle-active &__arrow {
		transform: rotate(-90deg);
	}

	&.toggle-active &__text--1 {
		display: none;
	}

	&.toggle-active &__text--2 {
		display: block;
	}

	&.toggle-active &__head {
		order: 2;
	}

	&.toggle-active &__body {
		order: 1;
	}
}

.exhibitor {
	&-img {
		max-width: 510px;
	}

	&-service {
		max-width: 150px;
	}

	@media(max-width: $lg) {
		&-img {
			max-width: 100%;
		}
	}

	@media(max-width: $md) {
		&-service {
			max-width: 100px;
		}
	}
}

.travel {
	&-img {
		max-width: 74px;
	}
}

.media {
	&-block {
		min-height: 420px;
		background: radial-gradient(50% 428.83% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) rgba(1, 112, 229, 0.2);

		&__content {
			max-width      : 660px;
			background     : radial-gradient(98.48% 326.98% at 0% 3.35%, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
			backdrop-filter: blur(10px);
			padding        : 46px 52px;
		}
	}

	&-play {
		width : 60px;
		height: 60px;
	}

	@media(max-width: $md) {
		&-block {
			min-height: 300px;

			&__content {
				padding: 30px 16px;
			}
		}
	}
}

.error-block {
	margin-bottom: -30px;

	&__text {
		font-size              : 250px;
		background             : linear-gradient(180deg, #044393 0%, rgba(4, 67, 147, 0) 100%), #20162C;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;
	}

	&__img {
		max-width: 200px;
	}

	@media(max-width: $md) {
		& {
			margin-bottom: 0;
		}

		&__text {
			font-size: 140px;
		}

		&__img {
			max-width: 110px;
		}
	}
}

.info {
	&-block {
		&__img {
			min-width: 124px;
			width    : 124px;
			height   : 124px;
			font-size: 86px;
		}
	}

	@media(max-width: $lg) {
		&-block {
			flex-direction: column;
			text-align    : center;
		}
	}
}

.advantages {
	&__item {
		&--1 {
			background: #0066A2 linear-gradient(137.93deg, rgba(32, 22, 44, 0.6) 0%, rgba(32, 22, 44, 0) 100%);
		}

		&--2 {
			background: #20162C linear-gradient(137.93deg, rgba(0, 102, 162, 0.6) 0%, rgba(0, 102, 162, 0) 100%);
		}

		&--3 {
			background: #02438F linear-gradient(137.93deg, rgba(32, 22, 44, 0.6) 0%, rgba(32, 22, 44, 0) 100%);
		}

		&--4 {
			background: #2BA8C4 linear-gradient(137.93deg, rgba(32, 22, 44, 0.6) 0%, rgba(32, 22, 44, 0) 100%);
		}
	}

	&__number {
		font-size              : 110px;
		background             : linear-gradient(123.73deg, rgba(255, 255, 255, 0.48) 24.21%, rgba(255, 255, 255, 0.04) 67.44%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip        : text;
		text-fill-color        : transparent;
		-webkit-text-stroke    : 1px var(--color-gray);
		text-shadow            : 0px 20px 40px rgba(0, 0, 0, 0.05);
		backdrop-filter        : blur(3px);
	}

	@media(max-width: $md) {
		&__border {
			flex-direction: row;
			align-items   : center;
		}
	}
}

.reviews {
	&-slider {
		margin-top: 100px;
	}

	@media(max-width: $md) {
		&-slider {
			margin-top: 60px;
		}
	}
}

.visitors {
	&__number {
		min-width: 80px;
	}

	&__progress {
		background   : #D9D9D9;
		border-radius: 100px;
		min-width    : 255px;
		height       : 10px;
	}

	&__line {
		top          : 0;
		left         : 0;
		bottom       : 0;
		width        : 0;
		border-radius: 100px;

		transition: {
			duration       : 2s;
			timing-function: ease-in;
		}
	}

	&__block {
		max-width: 435px;
	}

	&__chard {
		max-width : 435px;
		max-height: 435px;
	}

	@media(max-width: $lg) {
		&__block {
			margin: 0 auto;
		}
	}

	@media(max-width: $md) {
		&__item {
			flex-direction : column;
			justify-content: flex-start;
			align-items    : flex-start;
		}

		&__progress {
			min-width: 180px;
		}

		&__info {
			justify-content: center;
		}
	}
}

.chard {
	&-list {
		&__circle {
			width        : 8px;
			height       : 8px;
			border-radius: 50px;

			&--blue {
				background-color: #00529C;
			}

			&--dark-blue {
				background-color: #2E3092;
			}

			&--light-blue {
				background-color: #00AEEF;
			}

			&--purple {
				background-color: #662D91;
			}

			&--yellow {
				background-color: #F7941E;
			}

			&--grey {
				background-color: #58595B;
			}

			&--green {
				background-color: #00A79E;
			}
		}
	}
}

.opportunities {
	background: linear-gradient(254.79deg, rgba(0, 0, 0, 0) 39.31%, rgba(0, 0, 0, 0.4) 100%), #005B95;

	&::before {
		content       : '';
		position      : absolute;
		width         : 100%;
		height        : 570px;
		background    : rgb(73, 221, 253, 0.3);
		filter        : blur(100px);
		top           : -400px;
		left          : 0;
		right         : 0;
		pointer-events: none;
	}

	&__item {
		background     : linear-gradient(107.73deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.04) 57.04%);
		backdrop-filter: blur(6px);
	}

	&__icon {
		font-size: 86px;
	}

	@media(max-width: $lg) {
		&__icon {
			font-size: 60px;
		}
	}

	@media(max-width: $md) {
		&::before {
			display: none;
		}

		&__icon {
			font-size: 40px;
		}
	}
}

.filter {
	&__item {
		transition: 0.2s;

		&::after {
			content         : "";
			position        : absolute;
			left            : 0;
			right           : 0;
			bottom          : 0;
			width           : 100%;
			height          : 3px;
			background-color: var(--color-primary);
			transition      : 0.2s;
			opacity         : 0;
			visibility      : hidden;
		}

		&--active {
			font-weight: bold;
			opacity    : 1;
			color      : var(--color-primary);

			&::after {
				opacity   : 1;
				visibility: visible;
			}
		}
	}

	&__card {
		&--active {
			animation: 0.5s cardUp ease 1 both;
		}
	}

	&-slider {
		&-btn {
			width : 48px;
			height: 48px;

			&.swiper-button-disabled {
				display: none !important;
			}
		}
	}
}

@keyframes cardUp {
	0% {
		opacity  : 0;
		transform: translateY(50px);
	}

	100% {
		opacity  : 1;
		transform: translateY(0);
	}
}

.materials {
	&__btn {
		width: 240px;
	}

	&-info {
		&__item {
			border-bottom: 1px dashed var(--color-gray);
		}

		&__shildik {
			min-width       : 32px;
			width           : 32px;
			height          : 32px;
			background-color: var(--color-dark-blue-10);

			& svg {
				pointer-events: none;
			}
		}

		&__link {
			transition: 0.2s;
			position  : absolute;
			top       : 0;
			right     : -130px;
			width     : 120px;
			height    : 25px;
			overflow  : hidden;

			&--hidden {
				opacity   : 0;
				visibility: hidden;
			}

			&-text {
				position: absolute;
				inset   : 0;
			}
		}

		&__pic {
			min-width      : 54px;
			width          : 54px;
			height         : 54px;
			background     : #DFE6EE url('../img/user.svg') no-repeat center;
			background-size: 36px;
		}

		&__btn {
			background: #D85054;
			max-width : 210px;
			cursor    : pointer;
		}

		&__images {
			padding-inline: 15px;
			margin-inline : -15px;
		}

		&__organizers {
			min-width: max-content;
		}
	}

	@media(max-width: $lg) {
		&__head {
			flex-direction : column;
			justify-content: flex-start;
			align-items: flex-start;

			&-title {
				order: 2;
			}

			&-btns {
				order: 1;
			}
		}
	}

	@media(max-width: $md) {
		&__btn {
			width: auto;
			font-size: 12px;
			height: 35px;
		}

		&__item {
			flex-direction: column;
			align-items   : flex-start;
		}

		&-info {
			&__images {
				flex-wrap: nowrap;
			}
		}
	}
}

.pagination {
	&__btn {
		width : 36px;
		height: 36px;

		&--disabled {
			opacity       : 0.5;
			pointer-events: none;
		}

		&--active {
			pointer-events: none;
		}
	}

	@media(max-width: $md) {
		& {
			justify-content: center;
		}

		&__btn {
			width    : 30px;
			height   : 30px;
			font-size: 14px;
		}
	}
}

.person-card {
	border-radius: 24px;

	&__head {
		border-bottom: 1px dashed rgba(32, 22, 44, 0.4);
	}

	&__pic {
		min-width      : 74px;
		width          : 74px;
		height         : 74px;
		background     : #DFE6EE url('../img/user.svg') no-repeat center;
		background-size: 36px;
	}

}

.fish {
	&__title {
		font-weight: 300;
	}

	@media(min-width: $md) {
		&__content {
			padding  : 60px;
			max-width: 790px;
		}
	}

	@media(max-width: $md) {
		&__content {
			padding-bottom: 100px;
		}
	}
}

.map {
	min-height: 650px;

	&__top,
	&__bottom {
		left     : 50%;
		transform: translateX(-50%);
	}

	&__letter {
		animation: letter 2s linear infinite;
	}

	&__top {
		bottom: 100%;
	}

	&__bottom {
		top: 100%;
	}

	&__top span:nth-last-of-type(-n+2),
	&__bottom span:nth-child(-n+2) {
		background             : linear-gradient(-45deg, currentColor 0%, var(--color-primary-40) 65.51%), currentColor;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(0, 0, 0, 0);
		background-clip        : text;
		text-fill-color        : rgba(0, 0, 0, 0);
	}

	&__item:nth-child(2) &__top,
	&__item:nth-child(2) &__bottom {
		animation-delay: 0.2s;
	}

	&__item:nth-child(3) &__top,
	&__item:nth-child(3) &__bottom {
		animation-delay: 0.4s;
	}

	&__item:nth-child(4) &__top,
	&__item:nth-child(4) &__bottom {
		animation-delay: 0.6s;
	}

	&__item:nth-child(5) &__top,
	&__item:nth-child(5) &__bottom {
		animation-delay: 0.8s;
	}

	&__item:nth-child(6) &__top,
	&__item:nth-child(6) &__bottom {
		animation-delay: 1s;
	}

	&__item:nth-child(7) &__top,
	&__item:nth-child(7) &__bottom {
		animation-delay: 1.2s;
	}

	&__top,
	&__bottom {
		animation: letters 3s linear infinite;
	}

	&__top,
	&__bottom {
		opacity: 1;
	}

	@media(min-width: $lg) {
		&__title {
			font-size: 64px;
		}
	}

	@media(max-width: $md) {
		&__bg {
			opacity: 0.7;
		}

		&__content {
			flex-direction: column;
		}

		&__title {
			&--letters {
				min-height: 440px;
			}
		}
	}
}

@keyframes letter {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

@keyframes letters {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.3;
	}
}

.about-us {
	&__img {
		font-size : 94px;
		min-width : 190px;
		width     : 190px;
		height    : 190px;
		background: linear-gradient(271.82deg, rgba(0, 0, 0, 0) 3.08%, rgba(0, 0, 0, 0.3) 96.92%), #0065A5;
	}

	@media(max-width: $md) {
		&__img {
			font-size: 50px;
			min-width: 100px;
			width    : 100px;
			height   : 100px;
		}
	}
}

.google-map {
	height: 460px;

	@media(max-width: $md) {
		& {
			height: 380px;
		}
	}
}

.we-are {
	&__block {
		background: linear-gradient(271.62deg, var(--color-dark-blue-90) 2.75%, rgba(2, 67, 143, 0) 64.58%), var(--color-text);
	}

	&__img {
		max-width: 200px;
	}

	@media(max-width: $lg) {
		&__items {
			flex-direction: column;
			align-items   : flex-start;
		}

		&__img {
			max-width: 120px;
		}
	}

	@media(max-width: $md) {
		& {
			padding-top   : 0;
			padding-bottom: 0;
		}

		&__block {
			border-radius: 0;
			margin       : 0 -15px;
		}
	}
}